* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(24, 9, 63, 0.912);
  color: white;
  
}

/* Começo do Header */

header {
  background-color: rgba(24, 9, 63, 0.912);
  padding: 15px;
  position: static;
  width: 100%;
  top: 0;
  z-index: 1000;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  

    /*Logo*/
    .logo {
      height: 120px;
      filter: drop-shadow(0 0 8px cyan);
      transition: 0.3s;
      margin: 0 20px 0 100px;
    }

    .logo:hover {
      filter: drop-shadow(0 0 15px magenta);
      transform: scale(1.1);
    }

    /*Menu de Navegação*/
    ul {
      display: flex;
      list-style: none;

      li {
        margin-left: 20px;

        a {
          text-decoration: none;
          color: cyan;
          font-size: 25px;
          padding: 10px 15px;
          filter: drop-shadow(0 0 8px cyan);
          transition: 0.3s;
          margin: 0 20px 0 0;
          padding: 100px
        }

        a:hover {
          transform: scale(1.5);
          color: magenta;
        }
      }
    }
  }
}

/* Fim do Header */

/* Começo da Seção Hero */
.hero {
  height: 100vh;
  display: flex;
  margin-top: 80px;
}

.hero-imagem {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  height: auto;
  margin: 0 20px 0 60px;
}

.hero-imagem img {
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
  /* borda arredondada */
  box-shadow: 0 0 50px rgba(0, 255, 255, 0.2);
  /* brilho suave */
}

.hero-imagem img:hover {
  transform: scale(1.03);
}

.hero-texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
 
  border-radius: 10px;
  margin: 0 60px 0 20px;

  h2 {
    font-size: 60px;
    color: cyan;
    text-shadow: 0 0 10px cyan;
    animation: glitch 1s infinite;
    text-align: center;
    margin: 15px 0;
  }

  h2:hover {
    color: magenta;
    text-shadow: 0 0 15px magenta;
  }

  p {
    margin: 20px 0;
    font-size: 25px;
    text-align: center;
  }
}

/* BOTÃO */
.btn {
  padding: 12px 25px;
  background: cyan;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
  width: fit-content;
  margin: 15px auto;
  font-size: 30px;
}

.btn:hover {
  background: magenta;
  color: white;
  box-shadow: 0 0 15px magenta;
}